/* Yuki Matsubara Morning Class WMAD2 Mid-term */
:root {
  --text-color: rgb(28, 33, 37);
  --primary-color: white;
  --secondary-color: black;
}
/* General Styling */
body {
  width: 100%;
  height: 100vh;
  background-image: url(./img/img9.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color);
  overflow: hidden;
  position: relative;
  z-index: 0;
}
/* blur effect for background image */
body::before {
  content: "";
  background: inherit;
  position: absolute;
  z-index: -1;
  filter: blur(2px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
}
button {
  background: linear-gradient(#ff6666, #a3a9ec);
  border-radius: 50vw;
  border: none;
  color: var(--primary-color);
}
button:hover {
  background: linear-gradient(#ffcc99, #ffff99);
  color: var(--secondary-color);
  font-weight: bold;
}
i {
  color: var(--primary-color);
}
i:hover {
  color: var(--secondary-color);
}
/* the entire display field */
.container {
  /* font-family: 'Amatic SC', cursive;
  font-family: 'Merriweather', serif; */
  font-family: "Patrick Hand", cursive;
  background-image: url(./img/img3.jpeg);
  background-size: cover;
  width: 90%;
  height: 80vh;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2em var(--primary-color);
}
/* side search bar */
.sideBar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 0%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url(./img/img6.jpeg);
  overflow-x: hidden;
  transition: 0.5s;
}
.sideBar .searchCity {
  height: 10%;
  width: 100%;
  border-radius: 5%;
}
.sideBar .searchCity:focus {
  outline: none !important;
  border: 0.2em palevioletred solid;
}
.sideBar .searchBtn {
  height: 10%;
  border-radius: 10%;
  position: absolute;
  right: 0;
}
/* open button for side search bar */
.openBtn {
  position: absolute;
  top: 3%;
  left: 2%;
  box-shadow: 0 0 1em var(--primary-color);
  padding: 1em;
}
/* detailed forecast */
.fullForecast {
  /* contents added later */
}
/* weather information display field */
.displayWeather {
  width: 80%;
  height: 100%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
.displayWeather .currentCity {
  width: 100%;
  background-color: rgba(201, 230, 238, 0.6);
  border-top: 0.7em solid rgba(43, 168, 202, 0.6);
  border-radius: 5%;
  margin: 2em;
}
.displayWeather .currentWeather {
  width: 100%;
  background-color: rgba(201, 230, 238, 0.6);
  border-bottom: 0.7em solid rgba(43, 168, 202, 0.6);
  border-radius: 5%;
  margin: 2em;
}
.displayWeather .currentCity h2 {
  font-size: 3.5em;
  margin-top: 1.5em;
}
.displayWeather .currentCity h3 {
  font-size: 2.5em;
  font-weight: bold;
}
.displayWeather .currentWeather h2 {
  font-size: 3.5em;
}
.displayWeather .currentWeather h3 {
  font-size: 2.5em;
  font-weight: bold;
}
.displayWeather .currentWeather .icon {
  height: 20%;
}
.displayWeather .currentWeather img {
  width: 30%;
}
.displayWeather .currentWeather .unitBtn {
  box-shadow: 0 0 1em var(--primary-color);
  font-size: 1.3em;
  padding: 0.5em 1em;
  margin-top: 1em;
}
.displayWeather p {
  font-size: 2em;
  margin-bottom: 0;
}
